body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #002B5B;
  color: #056676

}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
h1 {
  color: #8FE3CF;
  width: 30%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  margin-top: 75px;
  margin-bottom: 50px;
}

h2 {
  color: #8FE3CF;
  margin-bottom: 25px;
  margin-top: 25px;
}
h3 {
  color: #056676;
  margin-bottom: 25px;
  margin-top: 25px;
}
