
body {
  margin: 0;
  text-align: center;
  font-family: 'Nova Mono', monospace;

}

h1 {
  color: #8FE3CF;
  width: 30%;
  margin: 0 auto;
  font-family: 'Caramel', cursive;
  font-size: 100px;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.caption {
  color: #8FE3CF;
  margin: 0 auto;
}
.profile_pic {
   height: 200px;
   margin-top: 40px;
}
.top-container {
  background-color: #002B5B;
  padding-top: 50px;
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  color: #256D85;
}

.mid-container {
  background-color: #002B5B;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #256D85;
  margin-bottom: 0;
}

.bot-container {
  background-color: #328dAC;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #002B5B;
  padding-bottom: 20px;
  margin-top: 0;
}

.rating-star {
  height: 50px;
}

.computer {
  margin: 0 auto;
  display: block;
  height: 400px;
}



.image-class {
  height: 200px;
}

.education {
  display:inline-table;
  margin-top: 10px;

}
.language {
  margin-top: 100px;
  width: 300px;
  display: inline-table;
}

.python-image {
  height: 200px;
  position:relative;
  top: 15px;
}
/* .python {
  position: relative;
  right: 400px;
  top: 0;
  margin: 0 auto;
}

.cpp {
  position: relative;
  bottom: 324px;
  margin: 0 auto;
}

.csharp {
  position: relative;
  left: 400px;
  bottom: 647.5px;
  margin: 0 auto;
}

.java {
  position: relative;
  right: 200px;
  bottom: 647.5px;
  margin: 0 auto;

}

.webdev {
  position: relative;
  left: 200px;
  bottom: 971px;
  margin: 0 auto;
}
*/

.german {
  /* position: relative;
  right: 200px;
  bottom: 0px;
  margin: 0 auto; */
  display: inline-table;
}


.english {
  /* position: relative;
  left: 200px;
  bottom: 324px;
  margin: 0 auto; */
  display: inline-table;
}
